@import '../text.scss';

.number {
    font-family: $font-headline;
    font-size: 22px;
    font-weight: 500;
    color: $black;
    margin: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
    font-variant-numeric: tabular-nums;

    &__large {
        font-size: 34px; 
    }

    &__medium {
        font-size: 20px; 
    }

    &__small {
        font-size: 16px; 
    }
} 