@import "../../styles.scss";
@import "../../atoms/text/text.scss";


.stagger {
  display: flex;
}

.text {
  font-family: $font-rubik;
  letter-spacing: 0px;
  color: rgb(62, 143, 62);
  text-align: center;
  line-height: 38px;
  font-weight: 700;
  background-color: white;
  padding: 0px 8px;
  margin-bottom: 0px;
  font-size: 40px;
}