@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

$font-headline: 'Bree Serif', Helvetica, Arial;
$font-common: 'Noto Sans JP', Helvetica, Arial, sans-serif;
$font-paragraph: $font-common;
$black:#2b2b2b;