@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

$font-rubik: 'Rubik', Helvetica, Arial;
$font-headline: 'Bree Serif', Helvetica, Arial;
$font-common: 'Noto Sans JP', Helvetica, Arial, sans-serif;
$font-paragraph: $font-common;
$font-table: $font-common;

$font-war: 'Roboto Condensed', Helvetica, Arial;

$black:#2b2b2b;
$teal: #0cb4b4;

:export {
  colors: {
    teal: $teal;
    black: $black;
  }
}

.textInput {
    padding: 8px;
    margin: 4px;
}

.label {
    font-family: $font-paragraph;
    font-size: 16px;
    text-align: left;
    padding: 8px;
    margin: 4px;
    width: 100px;
    text-align: right;
}

$defaultShadowColor: rgb(12, 180, 180);
@mixin boxshadow($color: $defaultShadowColor) {
    box-shadow: 0px 0px 1px 1px $color;
    outline-color: transparent;
    outline-width: 1px;
}