@import "../../styles.scss";

$font-war: 'Roboto Condensed', Helvetica, Arial;

$black:#2b2b2b;
$teal: #0cb4b4;

:export {
  colors: {
    teal: $teal;
    black: $black;
  }
}

.textInput {
    padding: 8px;
    margin: 4px;
}

.textInput::placeholder {
  opacity: 0.8;
  color: #999;
}

.label {
    font-family: $font-paragraph;
    font-size: 16px;
    text-align: left;
    padding: 8px;
    margin: 4px;
    width: 100px;
    text-align: right;
}

$defaultShadowColor: rgb(12, 180, 180);
@mixin boxshadow($color: $defaultShadowColor) {
    box-shadow: 0px 0px 1px 1px $color;
    outline-color: transparent;
    outline-width: 1px;
}