.modal {
    display: flex;
    position: absolute;
    box-shadow: 1px 1px 4px 0px rgba(67,67,67,0.75);
    -webkit-box-shadow: 1px 1px 4px 0px rgba(67,67,67,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(67,67,67,0.75);
    width: 400px;
    height: 200px;
    top: 0px;
    left: 0px;
    z-index: 2;
  }