@import "../../styles.scss";
$font: $font-electrolize;
$valid-text: rgb(21, 199, 166);

.field {
  display: flex;

  &__label {
    color: mediumvioletred;
    opacity: 0.7;
    font-size: 14px;
    font-family: $font;
  }

  &__label_valid {
    color: $valid-text;
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid mediumvioletred;
    border-style: dashed;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    color: #000;
    font-family: $font;
  }

  &__input::placeholder {
    font-family: $font;
  }

  &__input_valid {
    border-bottom: 1px solid $valid-text;
  }

  &__button {
    margin: 8px;
    width: 120px;
    background-color: mediumvioletred;
    font-family: $font;
    font-weight: 300;
  }

  &__row {
    justify-content: flex-end !important;
  }

  &__rowSend {
    justify-content: flex-end !important;
    margin: 8px;
  }

  &__error {
    padding: 8px;
    color: darkred;
  }

  &__success {
    padding: 8px;
    color: green;
  }
}