$shallow-water: lightblue;

.tile {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  //border: 1px dashed rgba($shallow-water, 0.2);
}

.innerTile {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  padding: 0px;
  background-color: $shallow-water;
}

.grass {
  background-color: green;
}

.shallow-water {
  background-color: $shallow-water;
}

.dirt {
  background-color: #92642b;
}

.cyan {
  background-color: cyan;
}

// corners
// credit: https://codepen.io/NyX/pen/JYOzWW
// settings
$line-color: $shallow-water;
$line-size: 7;

$corner-color: $shallow-water;
$distance: 5;
$border-width: 2px;

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

@mixin line-corners($line-color: "inherit", $line-size: 7, $line-type: out, $line-distance: $distance) {
  position: absolute;
  width: 100%;
  
  transition-duration: 0.3s;
  
  // arrows
  &:before,
  &:after {
    content: '';
    
    position: absolute;
    
    width: $line-size + px;
    height: $line-size + px;
    
    border-color: inherit;
    border-style: solid;
    
    // will-change: transform, opacity;
    transition-duration: 0.3s;
    transform: translateZ(0);
  }
  
  // top corners
  &.top {
    &:before { border-width: $border-width 0 0 $border-width; }
    &:after { border-width: $border-width $border-width 0 0; }
  }
  
  // bottom corners
  &.bottom {
    &:before { border-width: 0 0 $border-width $border-width; }
    &:after { border-width: 0 $border-width $border-width 0; }
  }
  
  @if $line-type == out {
    &:before { left: 0; }
    &:after { right: 0; }
    &.top { top: 0; }
    &.bottom { bottom: $line-size + px; }    
  }
  
  @if $line-type == in {
    &:before { left: $line-distance + px; }
    &:after { right: $line-distance + px; }
    &.top { top: $line-distance + px; }
    &.bottom { bottom: ($line-distance + $line-size) + px; }
  }
}

@mixin line-corners-hover($line-size: 7, $line-type: out, $line-distance: $distance) {
  @if $line-type == out {
    &:before { left: 0; }
    &:after { right: 0; }
    &.top { top: 0; }
    &.bottom { bottom: $line-size + px }
  }
  
  @if $line-type == in {
    &:before { left: $line-distance + px; }
    &:after { right: $line-distance + px; }
    &.top { top: $line-distance + px; }
    &.bottom { bottom: ($line-distance + $line-size) + px; }
  }
}

// style: borders out (edge)
@mixin line-corners-out($line-color: $corner-color, $line-size: 7) {
  .corners { @include line-corners($line-color, $line-size, out); }
  &:hover {
    .corners { @include line-corners-hover($line-size, in); }
  }
}
  
// style: borders in
@mixin line-corners-in($line-color: $corner-color, $line-size: 7) {
  .corners { @include line-corners($line-color, $line-size, in); }
  &:hover {
    .corners { @include line-corners-hover($line-size, out); }
  }
}


.corners {
  
  &:hover {
    cursor: pointer;
  }
  
  // include corners
  &.out {
    @include line-corners-out($line-color);
  }
  
  &.in {
    @include line-corners-in($line-color);
  }
}
