@import '../text.scss';

.headline {
    font-family: $font-headline;
    font-size: 30px;
    font-weight: 500;
    color: $black;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
  