.list {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.listItem {
  margin: 4px;
  padding: 0px;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: #333;
  font-weight: 300;
}

.horizontalList {
  display: flex;
}

.horizontalListItem {
  padding: 8px;
}

.horizontalListWrap {
  display: flex;
  flex-flow: wrap;
}
