.list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.listItem {
    margin: 0px;
    padding: 0px;
}

.horizontalList {
    display: flex;
}

.horizontalListItem {
    padding: 8px;
}

.horizontalListWrap {
    display: flex;
    flex-flow: wrap;
}