@import '../../components/atoms/text/text.scss';

.intro {
  font-family: $font-rubik;
  letter-spacing: 0px;
  color: #90b93c;
  text-align: center;
  line-height: 38px;
  font-weight: 700;
  background-color: #f5f5f5;
  padding: 0px 16px;
}

.lets {
  margin-left: 0px;
}

.create {
  margin-left: 8px;
}

.worlds {
  margin-left: 16px;
}

.sketches {
  font-family: $font-common;
  font-weight: 300;
  font-size: 26px;
  color: #b89fe6;
  margin-left: 26px;
}