@import '../text/text.scss';

.button {
  border: none;
  border-radius: 4px;
  padding: 10px 14px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Helvetica";
  margin: 4px;
  cursor: pointer;
}

.storyButton {
  background-color: rgb(70, 211, 211);
  padding: 8px;
  border: none;
  border-radius: 4px;
  color:rgb(254, 255, 255);
  font-weight: 700;
  font-size: 24px;
}