@import "./fonts.scss";

html, body {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    margin: 0px;
    padding: 0px;
    position: absolute !important; 
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0px;
    pointer-events: none;
}

li {
    pointer-events: none;
}


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media only screen and (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 
 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

$font-war: 'Roboto Condensed', Helvetica, Arial;
$darkgrey: #333;
$black:#2b2b2b;
$teal: #097272; // need a better to way to pick accessible colors to ensure contrast

:export {
  colors: {
    teal: $teal;
    black: $black;
  }
}

.textInput {
    padding: 8px;
    margin: 4px;
}

.label {
    font-family: $font-paragraph;
    font-size: 16px;
    text-align: left;
    padding: 8px;
    margin: 4px;
    width: 100px;
    text-align: right;
}

$defaultShadowColor: rgb(12, 180, 180);
@mixin boxshadow($color: $defaultShadowColor) {
    box-shadow: 0px 0px 1px 1px $color;
    outline-color: transparent;
    outline-width: 1px;
}