html, body {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    margin: 0px;
    padding: 0px;
    position: absolute !important; 
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0px;
}

