@import "../../styles.scss";

.row {
  display: flex;
  position: relative;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  width: 100%;


  @include sm {

  }
  // 992px window width and more
  @include lg {
    margin-left: auto;
    margin-right: auto;
  }
  // 1400px window width and more
  @include rwd(1400) {

  }
}
