@import '../text/text.scss';

$underlineTealColor: rgba($teal, 0.3);

.link {
    font-size: 14px;
    color: #333;
    margin: 0px;
    pointer-events: all;
    word-wrap: break-word; 
    border-bottom: 1px solid $underlineTealColor;
    box-shadow: 0px -4px 0px $underlineTealColor inset;
    text-decoration: none;
    font-family: $font-common;
    font-weight: 100;

    &__large {
        font-size: 16px; 
    }

    &__medium {
        font-size: 16px; 
    }

    &__small {
        font-size: 16px; 
    }
}

a:not([class]) {
    color: inherit;
    text-decoration: none;
    transition: all 200ms 50ms ease;
    padding: 0.1875em 0.1875em 0.0625em;
    box-shadow: inset 0 -0.475em 0 rgba(163,218,227,0.5);
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a:not([class]):hover, a:not([class]):focus {
    background-color: rgba(163,218,227,0.5);
    box-shadow: inset 0 -0.475em 0 transparent;
}
  