@import "../../styles.scss";

.column {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0px;
  padding: 26px;

  &__transparent {
    background: transparent;
  }

  &__opaque {
    background: #eee
  }

  /*
  let's let the Page molecule set the margin
  @include sm {
    
  }

  @include lg {
    
  }

  @include rwd(1400) {
  */
}
