.block {
    display: flex;
    flex-direction: column;
    margin: 20px;

    &__transparent {
        background: transparent;
    }

    &__opaque {
        background: #eee;
        padding: 20px;
    }
    
}