@import "../../styles.scss";

.column {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0px;
  padding: 26px;

  &__transparent {
    background: transparent;
  }

  &__opaque {
    background: #eee
  }

  @include sm {
    padding: 16px;
  }

  @include lg {
    margin-left: auto;
    margin-right: auto;
  }

  @include rwd(1400) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
