@import '../text/text.scss';

.checkbox {
    display: flex;
    position: relative;
    pointer-events: none;
}

.checkboxForm {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -30px;
    pointer-events: none;
}

.checkboxForm::after {
    content: "";
    display: inline-block;
    opacity: 1;
    height: 24px;
    width: 24px;    
    border: none; 
    background: white;  
    border-radius: 2px;
}

.checkboxForm::before {
    content: none;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 7px;
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
}

.checkboxForm::before {
    content: "";
}


.checkboxFunction {
    opacity: 1;
    pointer-events: all;
}
