@import "../../styles.scss";

.Branch {
  display: block;
  max-width: 300px;
  margin: 8px;
}
  
.Branch h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  opacity: 0.7;
}
.Branch__controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  height: 40px;
  margin-bottom: 4px;
  padding: 5px;
  opacity: 0.4;
}
.Branch__item {
  display: block;
  position: relative;
  background: transparent;
  width: 40px;
  height: 40px;
  pointer-events: all;
  cursor: pointer;
}
.Branch p {
  font-size: 18px;
  padding: 10px;
}
.Branch a {
  text-decoration: none;
  color: #887f7f;
}
.Branch a:visited {
  text-decoration: none;
  color: #d0b002;
}
.Branch__images {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-x: auto;
}
.Branch__total {
  display: block;
  position: absolute;
  top: 0px;
  left: 30px;
  background: #eee;
  border-radius: 4px;
  padding: 0px 2px;
}
.Branch__total-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 12px;
  opacity: 0.6;
}
.Branch__image {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
.Branch__title {
  font-family: $font-roboto-slab;
  font-size: 20px;
  color: #888;
  //width: 96vw
}
.Branch__titleLink {
  text-decoration: none;
  pointer-events: all;
  font-family: $font-roboto-slab;
  line-height: 10px;
}
.code {
  padding: 3px 8px;
  background-color: #a257ff;
  box-shadow: none;
  color: #fff;
  border-radius: .3em;
  font-family: SFMono-Regular,source-code-pro,Menlo,Monaco,Consolas,Roboto Mono,Droid Sans Mono,Liberation Mono,Courier New,Courier,monospace;
  word-break: break-word;
}
  